<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
</head>
<body>

<h1> Welcome New Student</h1>

<h2 th:text="${'Hello '+students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>

<a th:href="@{http://google.com}">Google</a>
<a target="_blank" th:href="@{/student/welcome}">Welcome</a>

<! -- Adding Parameters to Link

<br>

<a th:href="@{/student/welcome(id=${students.get(0).firstName})}">Register</a>
<a th:href="@{/student/welcome(id=3)}"></a>

<ul>
    <li th:each="student : ${students}" th:text="${student.firstName}"></li>
</ul>


</body>
</html>